body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #eef2f7;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.title {
  text-align: center;
  color: #2563eb;
  margin-bottom: 30px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card h2 {
  color: #333;
}

textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input[type=file] {
  margin-top: 15px;
}

.btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.btn:hover {
  background: #1d4ed8;
}

.score {
  text-align: center;
  font-size: 60px;
  color: #16a34a;
  margin: 15px 0;
}

.progress {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  background: #22c55e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-match {
  background: #dcfce7;
  color: #166534;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
}

.skill-missing {
  background: #fee2e2;
  color: #991b1b;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
}